<footer>
    <nav>
        <ul>
            <li  class="footerNavName">
                <a href="">Nom du blog</a>
            </li>
            <li>
                <a href="">Accueil</a>
            </li>
            <li><a href="">Articles</a></li>
            <li>
                <a href="">Recettes</a>
            </li>
            <li>
                <a href="">Catégories</a>
            </li>
            <li>
                <a href="">Sport</a>
            </li>
            <li>
                <a href="">Pourquoi</a>
            </li>
            <li>
                <a href="">S'inscrire</a>
            </li>
        </ul>
    </nav>
    <p>Copyright@Machin</p>
</footer>